body, div, header {
    margin: 0;
    padding: 0;
}
body > div > header {
    position: fixed;
    top: 0;
    height: 8em;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #fff;
    padding: 0 1em;
}

div#results {
    margin-top: 8em;
    padding: 1em;
}

.parsererror, .transformerror {
    color: red;
}
